@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Borel&family=Dancing+Script:wght@600&family=Dosis&family=Gajraj+One&family=Jost:wght@800&family=Mukta:wght@200;600&family=Poppins:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lato', 'Arial', sans-serif; */
  font-family: 'Arvo', serif;

}

/* HEADINGS */
.nav-wrapper {
  z-index: 7;
  position: relative;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #2d2d2d, #72726f);


}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;


}

.container .card {
  position: relative;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 300px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;


}

.container .card:hover {
  height: 400px;

}

.container .card .imgbr {
  position: absolute;
  width: 300px;
  height: 220px;
  background: #333;
  top: 20px;
  border-radius: 12px;
  transition: 0.5s;
  overflow: hidden;

}

.container .card:hover .imgbr {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .imgbr img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.container .card .content {
  position: absolute;
  top: 250px;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  height: 35px;
  transition: 0.5s;
  overflow: hidden;
  object-fit: cover;

}

.container .card:hover .content {
  top: 150px;
  height: 250px;

}


.container.card .content h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(---clr);


}

.container.card .content p {
  color: #333;
  font-size: 1.05em;

}

.btn{
  background-color: #1d1717;
  color:rgb(242, 239, 239);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  margin: 14px;
  max-width: none;
  min-height: 35px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}


a{
  color:#f4f1f1;
  text-decoration: none;
}



h1.sep,
p.sep {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}
.features{
  display: flex;
  flex-wrap: wrap;
  background: rgb(7,0,130);
  background: radial-gradient(circle, rgba(7,0,130,1) 0%, rgba(103,103,241,1) 35%, rgba(69,224,255,1) 100%);
}

.obj,.foot{
  width: 50%;
  display: flex;
  justify-content: center;
  height: 50vh;

}
object{
  width: auto;
}
#particles-js {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0,0,0,-0.7),rgba(0,0,0,2.7),rgba(0,0,0,-0.3)), url(https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.text{
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 5;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}




.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  height: 42px;
  width: auto;
  justify-self: start;
  margin-left: 13px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-self: end;

}

.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
      padding: 1vw;

}





/* SECTIONS */


.headline {

  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
 
  padding: 50px 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
}





.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0%);
  transition: transform 0.7s ease-in-out;
}



.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}
.box{
  display: flex;
}

.search{
  width: 100%;
  position: relative;
  z-index: -1;
  background: rgb(224, 167, 167);
  height: 30vh;
}
/*footer */
.footer{
  color: white;
    height: auto;
    width: 100%;
    position: relative;
    background: linear-gradient(to right,#00093c,#2d0b00);
    padding: 10px 0 20px;
    font-size: 18px;
}
.row{
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.col{
  margin-top: 10px;
  text-align: left;
  justify-content: space-between;
flex-basis: 25%;
padding: 20px;
}
.col2{
  margin-top: 10px;
  text-align: left;
  justify-content: space-between;
flex-basis: 13%;
padding: 20px;
}
.logo{
  border-radius: 15px;
  height: 36px;
  width: auto;
}
.col p{
  padding-top: 16px;
}
.col ul{
  padding: 10px;
}
ul li{
  padding-top:15px;
 list-style: none;
}
ul li a{
  text-decoration: none;
  color: white;
}
.last{
  padding: 5px;
  text-align: center;
  justify-content: center;
}
.fa-brands, .fab {
  margin-top: 16px;
  padding: 6px;
  font-weight: 400;
}
/* no changes */

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 520px) {
  .container .card .imgbr {
    position: absolute;
    width: 260px;
    height: 220px;
    background: #333;
    top: 20px;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
}



@media only screen and (max-width: 800px) {
  
  

  .container .card .imgbr {
    position: absolute;
    width: 260px;
    height: 199px;
    background: #333;
    top: 20px;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
}

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 75px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    /* transform: translate(-101%); */
    text-align: center;
    overflow: hidden;
    display: none;
  }
  .box{
    flex-direction: column;
   
  }
  .obj{
    margin: auto;
    text-align: center;
  }
object{
  width: 100%;
}
  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
     transform: translate(0%) !important; 
  }

  /* SECTIONS */

  .headline {
    height: 20vh;
  }

  



.animation {
  display: inline-block;
  position: relative;
  color: 
#090909;
}

.animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#090909;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;

}
.container{
  width: 99%;
    height: 80vh;
}
.navi{
  display: flex;
}
}

}