@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Borel&family=Dancing+Script:wght@600&family=Dosis&family=Gajraj+One&family=Jost:wght@800&family=Mukta:wght@200;600&family=Poppins:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lato', 'Arial', sans-serif; */
  /* font-family: 'Arvo', serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Inclusive Sans', sans-serif;
}


body {
  background-color: #000;
  width: 100vw;
  overflow-x: hidden;
}

/* HEADINGS */
.nav-wrapper {
  z-index: 7;
  position: relative;
}

.text {
  position: absolute;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  z-index: 11;
  backdrop-filter: blur(25px);
  cursor: pointer;

}

/* .text::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  
} */

.text h1 {
  font-size: calc(100vw / 40);
  user-select: none;
  padding: calc(100vw / 65) calc(100vw / 45);
  color: white;
}

canvas {
  height: 100vh;
  background-color: transparent;
  position: relative;
  z-index: 10;

  width: 100vw;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: rgb(7,0,130); */
  /* background: radial-gradient(circle, rgba(7,0,130,1) 7%, rgba(67,74,214,1) 21%, rgba(69,224,255,1) 95%); */
  background: black;
}

.container {
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;


}

.container .card {
  position: relative;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 300px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;


}

.container .card:hover {
  height: 400px;

}

.container .card .imgbr {
  position: absolute;
  width: 300px;
  height: 220px;
  background: #333;
  top: 20px;
  border-radius: 12px;
  transition: 0.5s;
  overflow: hidden;

}

.container .card:hover .imgbr {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .imgbr img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.container .card .content {
  position: absolute;
  top: 250px;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  height: 35px;
  transition: 0.5s;
  overflow: hidden;
  object-fit: cover;

}

.container .card:hover .content {
  top: 150px;
  height: 250px;

}


.container.card .content h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(---clr);


}

.container.card .content p {
  color: #333;
  font-size: 1.05em;

}

.btn {
  background-color: #1d1717;
  color: rgb(242, 239, 239);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  margin: 14px;
  max-width: none;
  min-height: 35px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}
/* @keyframes gradientAnimation {
  /* 0% {
    background-image: linear-gradient(90deg, #f1f0f0, #222222);
  } */
  /* 100% {
    background-image: linear-gradient(90deg,  #222222,  #f1f0f0);
  } */
 /* } */


.btn {
 
  background-size: 200% 100%; 
  animation: gradientAnimation 1s linear infinite; 
}


.button {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  /* background-color: rgb(161, 255, 20); */
  background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
  border-radius: 17px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: solid #842e2e;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  transition-duration: 0.5s;
}
.svgIcon {
  height: 11px;
    transition-duration: 1.5s;
    padding: 0px;
    margin: 0px;
    align-items: center;
    text-align: center;
}

.btn:hover {
  background-color: rgb(68, 68, 68);
  color: rgb(0, 0, 0);
  transition-duration: .5s;
}

.btn:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.btn:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

a {
  color: #f4f1f1;
  text-decoration: none;
}



h1.sep,
p.sep {
  color: #fff;
  text-align: center;
  line-height: 1.4;

}

.parent {
  background-image: linear-gradient(0deg,
      hsl(0deg 0% 15%) 13%,
      hsl(137deg 0% 42%) 52%,
      hsl(137deg 0% 42%) 52%,
      hsl(0deg 0% 15%) 88%);
  background-color: black;
}

.features {
  display: flex;
  flex-wrap: wrap;

}

.obj,
.foot {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 50vh;

}

object {
  width: auto;
}

#particles-js {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, -0.7), rgba(0, 0, 0, 2.7), rgba(0, 0, 0, -0.3)), url(https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.text {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.491);
  color: white;
  z-index: 13;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}




.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 75px;
  overflow: hidden;
}

.navbar img {

  /* top: -2px; */
  height: 73px;
  width: auto;
  filter: invert(0);
  justify-self: start;
 
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-self: end;

}

.nav-item a {
  color: white;
  font-size: 1.05rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  padding: 1vw;

}

.nav-item a:hover {
  color: blue;
}


.headline {

  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  width: 100%;
  height: 100%;
  background-color: rgb(21, 20, 20);
  padding: 50px 20px;

  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
}





.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0%);
  transition: transform 0.7s ease-in-out;
}



.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

.box {
  display: flex;
}

.search {
  width: 100%;
  position: relative;
  z-index: -1;
  background: rgb(224, 167, 167);
  height: 30vh;
}

/*footer */
.footer {
  color: white;
  height: auto;
  width: 100%;
  position: relative;
  background: linear-gradient(to right, #00093c, #2d0b00);
  padding: 10px 0 20px;

}

.row {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.col {
  font-size: 13px;
  margin-top: 10px;
  text-align: left;
  justify-content: space-between;
  flex-basis: 25%;
  padding: 20px;
}

.col3 {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  flex-basis: 25%;
  padding: 20px;
}


.col2 {

  margin-top: 10px;
  text-align: left;
  font-size: 13px;
  padding: 2px;
}

.logo {
  border-radius: 15px;
  height: 36px;
  width: auto;
}

.col p {
  padding-top: 16px;
}

.col ul {
  padding: 10px;
}

ul li {
  padding-top: 15px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

.last {
  padding: 5px;
  text-align: center;
  justify-content: center;
}

.fa-brands,
.fab {
  margin-top: 16px;
  padding: 6px;
  font-weight: 400;
}

/* no changes */

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 520px) {
  .container .card .imgbr {
    position: absolute;
    width: 260px;
    height: 220px;
    background: #333;
    top: 20px;
    color: red;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
  }




  @media only screen and (max-width: 800px) {

    .navbar {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      height: 40px;
      overflow: hidden;
  }

    .text h1 {
      width: max-content;
      font-size: 18px;
     
      padding: 20px 40px;
    }

    .container .card .imgbr {
      position: absolute;
      width: 260px;
      height: 199px;
      background: #333;
      top: 20px;
      border-radius: 12px;
      transition: 0.5s;
      overflow: hidden;
      padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
      font-size: 1.9rem;
    }

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */

    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 75px;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - 55px);
      /* transform: translate(-101%); */
      text-align: center;
      overflow: hidden;
      display: none;
    }

    .box {
      flex-direction: column;

    }

    .obj {
      margin: auto;
      text-align: center;
    }

    object {
      width: 100%;
    }

    .navbar li {
      padding: 15px;
    }

    .navbar li:first-child {
      margin-top: 50px;
    }

    .navbar li a {
      font-size: 1rem;
      color: black;
    }

    .menu-toggle,
    .bar {
      display: block;
      cursor: pointer;
    }

    .navbar img {
      margin-left: 10%;
    }

    .mobile-nav {
      transform: translate(0%) !important;
    }

    /* SECTIONS */

    .headline {
      height: 20vh;
    }
    





    .animation {
      display: inline-block;
      position: relative;
      color:
        #090909;
    }

    .animation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color:
        #090909;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    .animation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;

    }

    .container {
      width: 99%;
      height: 80vh;
    }

    .navi {
      display: flex;
    }
  }

}


.nav {
  margin-bottom: 15px;
}

@media only screen and (max-width:420px) {
  .col {
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 20px;
  }

  .col2 {
    margin-top: -7px;
    text-align: left;
    font-size: 12px;
    padding: 11px;
  }
}

@media only screen and (max-width:504px) {
  .col2 {
    font-size: 12px;
    padding: 10px;
  }
}

@media only screen and (max-width:809px) {
  /* .nav-item:nth-child(4){
    width:7rem;
  } */
  .col3 {
    display: none;
  }
  .nv{
    display: flex;
  }
  #button {
    font-size: 12px;
    margin: 1rem;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
 #button:focus,
  #button:hover {
    color: #fff;
  }
  
  #button:focus:after,
  #button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  #button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
}


  
@media (max-width:400px) {
  .container{
    margin-top: 18%;
  }
  .left{
    height: 60vh;
  }

}
@media (max-width:290px) {
  .container{
    width: 74%;
    /* left: 50vw; */
    text-align: center;
    margin: 0 auto;
   }
  #button{
   
    font-size: 10px;
    margin: 0.15;
    padding: 0;
  }
  #imgg{
    width: auto;
    height: 27px;
}

  }
  



