@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Borel&family=Dancing+Script:wght@600&family=Dosis&family=Gajraj+One&family=Jost:wght@800&family=Mukta:wght@200;600&family=Poppins:ital@1&display=swap');

/* * {
  
/* font-family: 'Borel', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Gajraj One', cursive;
font-family: 'Jost', sans-serif;
/* font-family: 'Mukta', sans-serif; 
font-family: 'Poppins', sans-serif; */

/* HEADINGS */

h1,
p {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

.features button {
  width: 30vw;
  padding: 5px;
  background: rgb(220, 176, 176);
  color: blue;
  text-decoration: none;
}

.obj,
.foot {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 50vh;

}

object {
  width: auto;
}

#particles-js {
  width: 100%;
  height: 0vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, -0.7), rgba(0, 0, 0, 2.7), rgba(0, 0, 0, -0.3)), url(https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .particles-js-canvas-el{
  width: 99%;
  height: 15%;
  position: absolute;
} */

.text {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 5;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  height: 42px;
  width: auto;
  justify-self: start;
  margin-left: 13px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-self: end;

}

.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;

  padding: 50px 20px;

  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
}

.feature-container {
  /* flex-basis: 30%; */
  margin-top: 10px;
  width: 30vw;

  height: 49vh;
  text-align: center;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container a img {
  width: 50vw;
  height: 40vh;

  margin-bottom: 15px;
}

/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0;
  /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}

.feature-container a img {
  width: 75%;
  height: 22vh;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

/* 
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
} */

/* KEYFRAME ANIMATIONS */
/* 
@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
 

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
} */
.box {
  display: flex;
}

.search {
  width: 100%;
  position: relative;
  z-index: -1;
  background: rgb(224, 167, 167);
  height: 30vh;
}

/* no changes */

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    /* transform: translate(-101%); */
    text-align: center;
    overflow: hidden;
    display: none;
  }

  .box {
    flex-direction: column;

  }

  .obj {
    margin: auto;
    text-align: center;
  }

  object {
    width: 100%;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  /* 
  .mobile-nav {
    /* transform: translate(0%) !important; 
  } */

  /* SECTIONS */

  .headline {
    height: 20vh;
  }

  .feature-container p {
    margin-bottom: 25px;
  }

  .feature-container {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }


  .feature-container:nth-child(2) {
    order: -1;
  }

  /* SEARCH DISABLED ON MOBILE */

  #search-icon {
    display: none;
  }

  .search-input {
    display: none;
  }

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-family: 'Lato', 'Arial', sans-serif; */
  font-family: 'Arvo', serif;
  box-sizing: inherit;
  user-select: none;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(7, 0, 130);
  /* background: radial-gradient(circle at top, rgba(7,0,130,1) 0%, rgba(103,103,241,1) 35%, rgba(69,224,255,1) 100%); */

}

.heading {
  margin-top: 5%;
  font-size: 3em;
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
  text-decoration: underline;
  text-decoration-color: black;

}

.container {
  /* position: absolute; */
  position: relative;
  margin-top: 21%;
  display: flex;
  padding: 80px 40px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 300px;
  /* z-index: -1; */
}

.card {
  position: relative;
  width: 350px;
  height: 390px;
  background: bottom;

  transition: 0.6s;
}

.card .lines {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.card:hover {
  height: 390px;
}

.card .lines::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;

  background: linear-gradient(45deg, grey, #bdb7b7, black, #bfbdbd, black, grey);
  animation: animate 4s linear infinite;
  animation-play-state: paused;
}

.card:hover .lines::before {
  animation-play-state: running;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card .lines::after {
  content: '';
  position: absolute;
  inset: 5px;

  /* background: linear-gradient(45deg,rgb(118 181 181),rgb(26 73 85),rgb(98 208 223)); */
}

.card .img {
  position: absolute;
  top: -135px;
  left: 20%;
  width: 200px;
  height: 200px;
  /* transform: translateX(-60%); */
  background: black;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card .img:hover {
  transform: scale(1.1);
  transition: .44s ease-in;
  border-radius: 50%;
}

.card .img::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent, rgb(118 181 181), rgb(26 73 85), rgb(98 208 223), transparent);
  animation: animate2 7s linear infinite;
  animation-play-state: paused;
}

.card:hover .img::before {
  animation-play-state: running;
}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card .img::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: linear-gradient(45deg, grey, #bdb7b7, black, #bfbdbd, black, grey);
}

.card .img img {
  position: absolute;
  z-index: 1;
  width: 100%;
  /* filter: invert(1); */
  opacity: 0.6;
  transition: 0.5s;
}

.card:hover .img img {
  opacity: 1;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content .details {
  padding: 30px 31px 56px 0px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(100px);
  margin-right: 3px;
  margin-top: 50%;
  margin-bottom: 5%;
}

.card:hover .content .details {
  transform: translateY(0px);
}

.card .content .details h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(5 195 170);
  text-decoration: underline;
  line-height: 0.2rem;
  font-family: 'Open Sans', sans-serif;
}

.card .content .details h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(5 195 170);
  text-decoration: underline;
  line-height: 4rem;
  font-family: 'Open Sans', sans-serif;
}

.card .content .details p {
  color: white;
  opacity: 0;
  font-size: 1.1rem;
  transition: 0.5s;
  margin-bottom: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.card:hover .content .details p {
  opacity: 1;
}

.card .content .details .info {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 31px;
  font-size: 1.1rem;
}

.card .content .details .info a {
  opacity: 0.5;
  font-size: 1.1rem;
  transition: 0.5s;
}

.card .content .details .info a:hover {
  color: white;
  opacity: 1;
  font-size: 1.5rem;
}

.card .content .details .info a:hover .fa-brands {
  color: white;
}


.lines {
  display: none;
}