body {
  font-family: Arial, sans-serif;
}

*{
  
  list-style: none;
}

.tab-container {
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  padding: 20px;
  height: 85vh;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.tab-header {
  display: flex;
  justify-content: space-evenly;
}

.tab-item {
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tab-item.active {
  background-color: #007bff;
  color: #fff;
}

.tab-content {
  margin-top: 20px;
}

.tab-panel {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tab-panel.active {
  display: block;
}

.tab-heading h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tab-block {
  padding: 10px;
  height: 60vh;
  position: relative; /* Add this line */
  overflow-y: auto;
  /* overflow-x: hidden; */

}
.eve{
  height: 90vh;
}
.p-10,hr{
  animation: scroll 30s infinite linear ;
}
@keyframes scroll  {
  0%{
    transform: translateY(10vh);
  }
  50%{
    transform: translateY(-100vh);
  }
  100%{
    transform: translateY(10vh);
  }
  
}
.p-10 p{
  animation: blink .5s infinite linear ;
}
@keyframes blink  {
  0%{
    color: red;
  }
  50%{
    color: rgb(43, 70, 243);
  }
  100%{
    color: red;
  }
  
}


.tab-block h6 {
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
}

.tab-block p {
  font-size: 16px;
  color: #555;
  margin: 0;
  padding: 5px 0;
  text-align: justify;
}

.tab-more-link {
  position: absolute; /* Change from display: block to position: absolute */
  top: 10px; /* Adjust top position to your preference */
  right: 10px; /* Align to the right */
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
.tab-more-link:hover {
  text-decoration: underline;
}
.tab-block hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.tab-more-button {
  position: relative;
  bottom: 1px;
  left: 90%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.tab-more-button:hover {
  background-color: #0056b3;
}
.left{
  background: linear-gradient(120deg,red yellow);
}
.part{
  height: 90vh;
  display: flex;
  justify-content:center ;
  align-items: center;
}
.left
{
  background-color: #0056b3;
  width: 50%;
  height: auto;
}
.right{
  width: 50%;
  height: auto;
}
@media (max-width:720px) {
  .part{
    display: grid;

  }
  .tab-container{
    width: 100vw;
  }
  .tab-more-button {
    left:80%;
  }
}