body {
  font-family: Arial, sans-serif;
}

* {

  list-style: none;
}

.tab-container {
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  padding: 20px;
  height: 85vh;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #262626;
  border-radius: 5px;
}

.tab-header {
  display: flex;
  justify-content: space-evenly;
}

.tab-item {
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tab-item.active {
  background-color: #007bff;
  color: #fff;
}

.tab-content {
  margin-top: 20px;
}

.tab-panel {
  display: none;
  padding: 20px;
  background-color: #000;
  border: 1px solid #555;
  border-radius: 4px;
  color: #fff;
}

.tab-panel.active {
  display: block;
}

.tab-heading h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tab-block {
  padding: 10px;
  height: 60vh;
  position: relative;
  /* Add this line */
  overflow-y: auto;
  /* overflow-x: hidden; */

}

.eve {
  height: max-content;
}

.p-10,hr{
  animation: scroll 60s infinite linear;
}
@keyframes scroll {
  0% {
    transform: translateY(10vh);
  }

  50% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(10vh);
  }

}

.p-10 p {
  animation: blink 1.75s infinite linear;
}

@keyframes blink {
  0% {
    color: rgb(23, 240, 160);
  }

  50% {
    color: rgb(3, 141, 246);
  }

  100% {
    color: rgb(6, 237, 217);
  }

}


.tab-block h6 {
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
}

.tab-block p {
  font-size: 16px;
  color: #555;
  margin: 0;
  padding: 5px 0;
  text-align: justify;
}

.tab-more-link {
  position: absolute;
  /* Change from display: block to position: absolute */
  top: 10px;
  /* Adjust top position to your preference */
  right: 10px;
  /* Align to the right */
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.tab-more-link:hover {
  text-decoration: underline;
}

.tab-block hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.tab-more-button {
  position: relative;
  bottom: 1px;
  left: 85%;
  width: 15%; 
  background: linear-gradient(90deg, #ff0000, #ff00ff);
  background-size: 200% 100%;
  color: #fff;
  border: none;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-position 0.3s ease-in-out;

  text-align: center; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}


.tab-more-button:focus {
  outline: none;
  background: linear-gradient(90deg, #ff00ff, #ff0000);
}

.tab-more-button:hover {
  background-color: #fafafa;
  color: black;
}

.left {
  background: linear-gradient(120deg, red yellow);
}

.part {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  height: 90vh;
  display: flex;
  overflow-x: hidden;
  position: relative;

}

.right {
  width: 50%;
  z-index: 1;
  height: auto;
}

.caros {
  flex: 0 0 100%;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 0;
}

@keyframes show {
  0% {}

  100% {
    opacity: 1;
  }
}

.caros img {

  object-fit: contain;
  height: 80vh;
  width: 90%;
  opacity: 0;
  animation: show 2s forwards;
  /* width: auto; */
}

.backarrow,
.rightarrow {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backarrow img,
.rightarrow img {
  width: 70%;
  color: white;
  height: 70%;
}


.backarrow {
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  z-index: 1;
}

.rightarrow {
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  z-index: 1;
}

.backarrow:hover,
.rightarrow:hover {
  background-color: #333;
}

.active {
  opacity: 1;
  display: flex;
}

@media (max-width:720px) {
  .part {
    display: grid;

  }

  .left{
    width: 90%;
    height: 60vh;
    overflow-y: hidden;
  }
  .tab-container {
    width: 100vw;
  }

  .tab-more-button {
    left: 80%;
  }
}
@media only screen and (max-width: 720px) {
  .nav-item li a{
color: #000;
  }
}