@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Borel&family=Dancing+Script:wght@600&family=Dosis&family=Gajraj+One&family=Jost:wght@800&family=Mukta:wght@200;600&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lato', 'Arial', sans-serif; */
  font-family: 'Arvo', serif;
/* font-family: 'Borel', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Gajraj One', cursive;
font-family: 'Jost', sans-serif;
/* font-family: 'Mukta', sans-serif; 
font-family: 'Poppins', sans-serif; */
}
body{
    background: radial-gradient(circle at top,transparent,#0c0e50, #00363d , #305378);

}
/* HEADINGS */

h1,
p {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}
.features button{
  width: 30vw;
  padding: 5px;
  background: rgb(220, 176, 176);
  color: blue;
  text-decoration: none;
}
.obj,.foot{
  width: 50%;
  display: flex;
  justify-content: center;
  height: 50vh;

}
object{
  width: auto;
}
#particles-js {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0,0,0,-0.7),rgba(0,0,0,2.7),rgba(0,0,0,-0.3)), url(https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar{
  background-color: black;
}


.text{
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 5;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  height: 42px;
  width: auto;
  justify-self: start;
  margin-left: 13px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-self: end;

}


  .nav-item a {
    color: #f5f0f0;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Lato', 'Arial', sans-serif; */
      /* font-family: 'Arvo', serif; */
      font-family: Arial, Helvetica, sans-serif;
      font-family: 'Inclusive Sans', sans-serif;
    transition: color 0.3s ease-out;
  }


.nav-item a:hover {
  color: #3498db;
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
 
  padding: 50px 20px;

  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
}

.feature-container {
  /* flex-basis: 30%; */
  margin-top: 10px;
  width: 30vw;
 
  height: 49vh;
  text-align: center;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container a img {
  width: 50vw;
  height: 40vh;
  
  margin-bottom: 15px;
}

/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0;
  /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}
.feature-container a img{
  width:  75%;
  height: 22vh;
}
/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}
/* 
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
} */

/* KEYFRAME ANIMATIONS */
/* 
@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
 

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
} */
.box{
  display: flex;
}

.search{
  width: 100%;
  position: relative;
  z-index: -1;
  background: rgb(224, 167, 167);
  height: 30vh;
}
/* no changes */

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    /* transform: translate(-101%); */
    text-align: center;
    overflow: hidden;
    display: none;
  }
  .box{
    flex-direction: column;
   
  }
  .obj{
    margin: auto;
    text-align: center;
  }
object{
  width: 100%;
}
  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    /* transform: translate(0%) !important; */
  }

  /* SECTIONS */

  .headline {
    height: 20vh;
  }

  .feature-container p {
    margin-bottom: 25px;
  }

  .feature-container {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
  

  .feature-container:nth-child(2) {
    order: -1;
  }

  /* SEARCH DISABLED ON MOBILE */

  #search-icon {
    display: none;
  }

  .search-input {
    display: none;
  }

}





/* Contact us page css */
.contact_us * {
    font-family: Nunito, sans-serif;
    color: #23D5AB;
  }
  
  .contact_us .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .contact_us .responsive-cell-block {
    min-height: 75px;
  }
  
  .contact_us input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .contact_us .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .contact_us .responsive-container-block.big-container {
    background-color: #03a9f4;
    position: static;
    height: auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  
  .contact_us .responsive-container-block.container {
    position: static;
    min-height: 75px;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #000000;
  }
  
  .contact_us .container-block.form-wrapper {
    background-color: #333434;
    max-width: 1000px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 90px;
    padding-right: 40px;
    padding-bottom: 75px;
    padding-left: 40px;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
  }
  
  .contact_us .text-blk.contactus-head {
    font-size: 38px;
    line-height: 52px;
    font-weight: 900;
  }
  
  .contact_us .text-blk.contactus-subhead {
    color: #9c9c9c;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .contact_us .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    min-height: 50px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 55px;
    margin-left: 0px;
  }
  
  .contact_us .input {
    width: 96%;
    height: 48px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    font-size: 16px;
    color: black;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: 3px;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: #d8d7d7;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
  
  .contact_us .textinput {
    width: 98%;
    min-height: 220px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f1f2f3;
  }
  
  .contact_us .submit-btn {
    width: auto;
    background-color: #00b289;
    height: 58px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-top: 1px;
    padding-right: 60px;
    padding-bottom: 1px;
    padding-left: 60px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    cursor: pointer;
  }
  
  .contact_us .form-box {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  
  .contact_us .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 19px;
    color: #e0d5d5;
    font-weight: 600;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  
  .contact_us ::placeholder {
    color: #b4b4b4;
  }
  
  .contact_us .text-blk.contact-head {
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  
  .contact_us .text-blk.contact-subhead {
    max-width: 670px;
    font-size: 20px;
    line-height: 27px;
    color: white;
  }
  
  .navbar li a {
    font-size: 1rem;
    color: rgb(246, 245, 245);
  }

  @media (max-width: 1024px) {
    .contact_us .responsive-container-block.container {
      padding-top: 0px;
      padding-right: 30px;
      padding-bottom: 0px;
      padding-left: 30px;
    }
  
    .contact_us .container-block.form-wrapper {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .contact_us .submit-btn {
      width: 100%;
    }
    .nav-item a{
      color: black;
    }
  
    .contact_us .input {
      width: 100%;
    }
  
    .contact_us .textinput {
      width: 100%;
    }
  
    .contact_us .container-block.form-wrapper {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us .text-blk.input-title {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us .container-block.form-wrapper {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .contact_us .text-blk.contact-subhead {
      font-size: 18px;
    }
  }
  
  @media (max-width: 500px) {
    .contact_us .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .contact_us .container-block.form-wrapper {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 15px;
      margin-left: 0px;
    }
  
    .contact_us .responsive-container-block {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 35px;
      margin-left: 0px;
    }
  
    .contact_us .text-blk.input-title {
      font-size: 12px;
    }
  
    .contact_us .responsive-container-block.container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .contact_us .container-block.form-wrapper {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      padding-top: 50px;
      padding-right: 20px;
      padding-bottom: 50px;
      padding-left: 20px;
      margin-top: 50px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .contact_us .form-box {
      padding-top: 50px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us .text-blk.contact-head {
      font-size: 35px;
      line-height: 40px;
    }
  
    .contact_us .text-blk.contact-subhead {
      font-size: 16px;
      line-height: 24px;
    }
  
    .contact_us .text-blk.input-title {
      font-size: 16px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
  
    .contact_us .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 35px;
      margin-left: 0px;
    }
  
    .contact_us .input {
      height: 40px;
    }
  
    .contact_us .text-blk.contact-head {
      font-size: 26px;
      line-height: 35px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
  }


  
/* 
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
} */

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }
 

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
@media (max-width:700px) {
  .nav-item a{
    color: black;
  }
}