body{
    background-color: #070a08;
}


/* content css start here */

.container {
    display: flex;
    height: 85vh;
  }
  
  .player {
    background-color: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    flex: 0 0 70%;
    position: relative;
  }
  
  .player iframe {
    width: 100%;
    height: 100%;
  }
  
  .playlist {
    width: auto;
    flex: 0 0 28%;
    background-color: linear-gradient(to right, #434343 0%, black 100%);
    color: #fff;
    overflow-y: auto;
    padding: 10px;
    margin-left: 5px;
    border-radius: 20px
  }
  
  .playlist-item {
    margin-bottom: 10px;
    padding: 8px;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .playlist-item a {
    text-decoration: none;
    color: #d3d3d3;;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .player {
      background-color: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
      flex: 0 0 50%;
      position: relative;
    }

    .playlist{
      flex: 0 0 48%;
      padding: 2px;
    }
  
    .player,
    .playlist {
      width: 97%;
      height: 50%;
      margin-top: 15px;
    }
    .player{
        width: 100%;
    }
  }
  
  .filter-options {
    margin-top: 20px;
  }
  



 /* filters css starts */

.filter-options{
  /* display: grid; */
  margin-inline: auto;
    max-width: 37rem;
    padding-left: 5px;
  
}

@media (min-width : 220px){
  .filter-options {
    display: flex;
   
    justify-content:space-between;
  /* padding: 10px; */
  max-width: 40rem;
  padding-left: 5px;
  margin-inline: auto;
  }

  .select{
    width: 5rem;
  }
}

select {
  margin-block: 3px;
  font-family: arial, sans-serif;
  outline: 0;
  background: #e1e1e1;
  color: #090909;
  border: 2px solid crimson;
  padding: 7px;
  border-radius: 30px;
  cursor: pointer;
  width: 12rem;
}

select * {
  font-size: 1.01rem;
}