body{
    margin: 0px 0px;
    padding: 0px 0px;
}
#load{
    position: absolute;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(49,44,113);
background: radial-gradient(circle, rgb(5, 5, 5) 0%, rgb(76, 76, 76) 100%);
z-index: 4;
display: none;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    
}

.lds-ripple div {
    position: absolute;
    border: 5px solid #fdfcfc;
    opacity: 10px;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}