@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

*,
*:after,
*:before {
    box-sizing: border-box;
}



.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: none;
}
.content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

#head {
    color: #e7ebf2;
    font-size: 12.5rem;
    letter-spacing: .10em;
    margin: .025em 0;
    text-shadow: .05em .05em 0 rgba(0, 0, 0, .25);
    white-space: nowrap;

    @media(max-width: 30rem) {
        font-size: 8.5rem;
    }

    &>span {
        animation: spooky 2s alternate infinite linear;
        color: #528cce;
        display: inline-block;
    }
}

h2 {
    color: #e7ebf2;
    margin-bottom: .40em;
}

p {
    color: #ccc;
    margin-top: 0;
}

@keyframes spooky {
    from {
        transform: translatey(.15em) scaley(.95);
    }

    to {
        transform: translatey(-.15em);
    }
}

/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    /* vertical-align: bottom; */
}

/* ---- particles.js container ---- */
#particle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    /* -webkit-user-select: none; */
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}