body{
    margin: 0;
    padding: 0;
}
#back{
    position: fixed;
    

    min-height: 100vh;
    width: 100%;

    visibility: visible;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #191c20 0%, #0c0d13 100%);
    overflow: hidden;
    animation: animation 16s infinite none;
}


@keyframes animation{
    0%{
        
        opacity: 1;
        
    }
    100%{
        opacity: 0.8;
    }
}
.pyramid-loader {
    position: relative;
    /* width: 300px; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* background-color: black; */
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
}
  
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotateY(360deg);
    }
  }
  
  
    .pyramid-loader .wrapper .side {
        width: 100px;
        height: 100px;
        /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transform-origin: center top;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  
  
  .pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }
  
  .pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }
  
  .pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC);
  }
  
  .pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585);
  }
  
  .pyramid-loader .wrapper .shadow {
    width: 120px;
    height: 120px;
    background: #7a339d;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(10px);
}

  
  .stars {
    position: fixed;
    top: 0;
    color: white;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  
  .star:nth-child(1) {
    --star-tail-length: 10em;
    --top-offset: 50.27vh;
    --fall-duration: 2.4s;
    --fall-delay: .50s;
}
.star:nth-child(2) {
    --star-tail-length: 10em;
    --top-offset: 30.27vh;
    --fall-duration: 2.54s;
    --fall-delay: .75s;
}
.star:nth-child(3) {
    --star-tail-length: 10em;
    --top-offset: 40.27vh;
    --fall-duration: 2.64s;
    --fall-delay: 2s;
}
.star:nth-child(4) {
    --star-tail-length: 10em;
    --top-offset: 20.27vh;
    --fall-duration: 2.74s;
    --fall-delay: 2.15s;
}
.star:nth-child(5) {
    --star-tail-length: 10em;
    --top-offset: 10.27vh;
    --fall-duration: 2.84s;
    --fall-delay: 2.25s;
}
.star:nth-child(6) {
    --star-tail-length: 10em;
    --top-offset: 60.27vh;
    --fall-duration: 2.94s;
    --fall-delay: 2.35s;
}
.star:nth-child(7) {
    --star-tail-length: 10em;
    --top-offset: 70.27vh;
    --fall-duration: 2.54s;
    --fall-delay: 2.45s;
}
.star:nth-child(8) {
    --star-tail-length: 10em;
    --top-offset: 80.27vh;
    --fall-duration: 2.64s;
    --fall-delay: 2.55s;
}
.star:nth-child(9) {
    --star-tail-length: 10em;
    --top-offset: 90.27vh;
    --fall-duration: 2.74s;
    --fall-delay: 2.65s;
}
.star:nth-child(10) {
    --star-tail-length: 10em;
    --top-offset: 99.27vh;
    --fall-duration: 2.84s;
    --fall-delay: 2.75s;
}
.star:nth-child(11) {
    --star-tail-length: 10em;
    --top-offset: 55.27vh;
    --fall-duration: 2.94s;
    --fall-delay: 2.05s;
}
.star:nth-child(12) {
    --star-tail-length: 10em;
    --top-offset: 35.27vh;
    --fall-duration: 2.54s;
    --fall-delay: 1.05s;
}
.star:nth-child(13) {
    --star-tail-length: 10em;
    --top-offset: 45.27vh;
    --fall-duration: 2.64s;
    --fall-delay: 0s;
}
.star:nth-child(14) {
    --star-tail-length: 10em;
    --top-offset: 25.27vh;
    --fall-duration: 2.74s;
    --fall-delay: 1.79s;
}
.star:nth-child(15) {
    --star-tail-length: 10em;
    --top-offset: 15.27vh;
    --fall-duration: 2.84s;
    --fall-delay: 1.27s;
}
.star:nth-child(16) {
    --star-tail-length: 10em;
    --top-offset: 65.27vh;
    --fall-duration: 2.94s;
    --fall-delay: 1.5s;
}
.star:nth-child(17) {
    --star-tail-length: 10em;
    --top-offset: 75.27vh;
    --fall-duration: 2.54s;
    --fall-delay: 1.55s;
}
.star:nth-child(18) {
    --star-tail-length: 10em;
    --top-offset: 85.27vh;
    --fall-duration: 2.64s;
    --fall-delay: 1.45s;
}
.star:nth-child(19) {
    --star-tail-length: 10em;
    --top-offset: 2.27vh;
    --fall-duration: 2.54s;
    --fall-delay: 2.69s;
}
.star:nth-child(20) {
    --star-tail-length: 10em;
    --top-offset: 97.27vh;
    --fall-duration: 2.74s;
    --fall-delay: 2.25s;
}
.star:nth-child(21) {
  --star-tail-length: 10em;
  --top-offset: 2.27vh;
  --fall-duration: 2.84s;
  --fall-delay: 2.95s;
}
.star:nth-child(22) {
  --star-tail-length: 10em;
  --top-offset: 4.27vh;
  --fall-duration: 2.94s;
  --fall-delay: 1.65s;
}
.star:nth-child(23) {
  --star-tail-length: 10em;
  --top-offset: 16.27vh;
  --fall-duration: 2.54s;
  --fall-delay: 1.45s;
}
.star:nth-child(24) {
  --star-tail-length: 10em;
  --top-offset: 256.27vh;
  --fall-duration: 2.64s;
  --fall-delay: 2.19s;
}
.star:nth-child(25) {
  --star-tail-length: 10em;
  --top-offset: 32.27vh;
  --fall-duration: 2.74s;
  --fall-delay: 1.15s;
}
.star:nth-child(26) {
  --star-tail-length: 10em;
  --top-offset: 64.27vh;
  --fall-duration: 2.84s;
  --fall-delay: .25s;
}
.star:nth-child(27) {
  --star-tail-length: 10em;
  --top-offset: 128.27vh;
  --fall-duration: 2.94s;
  --fall-delay: 1.35s;
}
.star:nth-child(28) {
  --star-tail-length: 10em;
  --top-offset: 3.27vh;
  --fall-duration: 2.54s;
  --fall-delay: 1.45s;
}
.star:nth-child(29) {
  --star-tail-length: 10em;
  --top-offset: 87.27vh;
  --fall-duration: 2.64s;
  --fall-delay: .55s;
}
.star:nth-child(30) {
  --star-tail-length: 10em;
  --top-offset: 27.27vh;
  --fall-duration: 2.54s;
  --fall-delay: 1.65s;
}
.star:nth-child(31) {
  --star-tail-length: 10em;
  --top-offset: 67.27vh;
  --fall-duration: 2.74s;
  --fall-delay: .75s;
}
.star:nth-child(32) {
  --star-tail-length: 12em;
  --top-offset: 7.27vh;
  --fall-duration: 2.84s;
  --fall-delay: 2.56s;
}
.star:nth-child(33) {
  --star-tail-length: 12em;
  --top-offset: 11.27vh;
  --fall-duration: 2.94s;
  --fall-delay: 2.5s;
}
.star:nth-child(34) {
  --star-tail-length: 12em;
  --top-offset: 13.27vh;
  --fall-duration: 2.54s;
  --fall-delay: 2.4s;
}
.star:nth-child(35) {
  --star-tail-length: 12em;
  --top-offset: 37.27vh;
  --fall-duration: 2.64s;
  --fall-delay: 2.3s;
}
.star:nth-child(36) {
  --star-tail-length: 12em;
  --top-offset: 33.27vh;
  --fall-duration: 2.74s;
  --fall-delay: 1.15s;
}
.star:nth-child(37) {
  --star-tail-length: 12em;
  --top-offset: 94.27vh;
  --fall-duration: 2.84s;
  --fall-delay: .25s;
}
.star:nth-child(38) {
  --star-tail-length: 12em;
  --top-offset: 29.27vh;
  --fall-duration: 2.34s;
  --fall-delay: 1.35s;
}
.star:nth-child(39) {
  --star-tail-length: 12em;
  --top-offset: 3.97vh;
  --fall-duration: 2.54s;
  --fall-delay: 1.45s;
}
.star:nth-child(40) {
  --star-tail-length: 12em;
  --top-offset: 17.27vh;
  --fall-duration: 2.64s;
  --fall-delay: .55s;
}
.star:nth-child(41) {
  --star-tail-length: 12em;
  --top-offset: 0.27vh;
  --fall-duration: 2.54s;
  --fall-delay: 1.65s;
} .star:nth-child(42) {
  --star-tail-length: 10em;
  --top-offset: -50.27vh;
  --fall-duration: 2.4s;
  --fall-delay: .50s;
}
.star:nth-child(43) {
  --star-tail-length: 10em;
  --top-offset: -30.27vh;
  --fall-duration: 2.54s;
  --fall-delay: .75s;
}
.star:nth-child(44) {
  --star-tail-length: 10em;
  --top-offset: -40.27vh;
  --fall-duration: 2.64s;
  --fall-delay: 2.1s;
}
.star:nth-child(45) {
  --star-tail-length: 10em;
  --top-offset: -20.27vh;
  --fall-duration: 2.74s;
  --fall-delay: 2.15s;
}
.star:nth-child(46) {
  --star-tail-length: 10em;
  --top-offset: -10.27vh;
  --fall-duration: 2.84s;
  --fall-delay: 2.25s;
}
.star:nth-child(47) {
  --star-tail-length: 10em;
  --top-offset: -6.27vh;
  --fall-duration: 2.94s;
  --fall-delay: 2.35s;
}
.star:nth-child(48) {
  --star-tail-length: 10em;
  --top-offset: -7.27vh;
  --fall-duration: 2.54s;
  --fall-delay: 2.45s;
}
.star:nth-child(49) {
  --star-tail-length: 10em;
  --top-offset: -8.27vh;
  --fall-duration: 2.64s;
  --fall-delay: 2.55s;
}
.star:nth-child(50) {
  --star-tail-length: 10em;
  --top-offset: -13.27vh;
  --fall-duration: 2.74s;
  --fall-delay: 2.65s;
}
.star:nth-child(51) {
  --star-tail-length: 10em;
  --top-offset: -15.27vh;
  --fall-duration: 2.84s;
  --fall-delay: 2.75s;
}

  

  
  /* ... Repeat the above for all 50 stars with unique values */
  
  .star::before,
  .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  
  .star::before {
    transform: rotate(45deg);
  }
  
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }
  
  